@import '~antd/lib/style/themes/default.less';

.drawBoardContainer {
  text-align: center;
}

// .canvasSizeSettingWrapper {
//   height: 100px;
//   line-height: 100px;
// }

.drawBoardWrapper {
  // width: 375px;
  // height: 667px;
  margin: 0 auto;
  border: 1px dashed @border-color-base;
  background-color: @white;
  .drawBoardCard {
    width: 100%;
    height: 100%;
  }
}
