@import '~antd/lib/style/themes/default.less';

.drawBoardContainer {
  margin: 0 auto;
  width: calc(100% - 800px);
}

// .canvasSizeSettingWrapper {
//   height: 100px;
//   line-height: 100px;
// }

.drawBoardWrapper {
  position: relative;
  margin: 0 auto;
  background-color: @white;
  border: 1px dashed @border-color-base;
  .drawBoardCard {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.complexComponentsWrapper {
  // position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  // padding: 1px;
  // box-sizing: border-box;
  // border: 1px solid transparent;
  // &:hover {
  //   border: 1px dashed @border-color-base;
  // }
  // &:active {
  //   border: 1px solid @primary-color;
  // }
}
